
.jarallax-hero {
  position: relative;
  z-index: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.jarallax-hero>.jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header {
  padding-top: 40px;
}

.header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.header-name {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;

  @include tablet {
    font-size: 32px;
    margin-bottom: 0px;
    display: inline;
    width: auto;
    text-align: start;
  }
}



.header-list {
  display: flex;
}


.header-item {
  &+& {
    margin-left: 12px;

    @include tablet {
      margin-left: 18px;
    }

        @include desktop {
          margin-left: 24px;
        }
  }
}

.header-link {
  font-size: 18px;
  color: #fff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #49c5b6;
  }

  @include tablet {
    font-size: 24px;
  }
}


.hero {
  text-align: center;
  
  
}

.hero-title {
  font-size: 100px;
  color: #49c5b6;
  letter-spacing: 0.01em;
  margin-bottom: 24px;
  
  @include tablet {
    font-size: 200px;
  }

}

.hero-about {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  color: #fff;
  margin-bottom: 36px;

  @include tablet {
    min-width: 650px;
    max-width: 650px;
  }

}

.hero-button {
  color: #fff;
  border: 3px solid #49c5b6;
  cursor: pointer;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  margin-bottom: 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: #49c5b6;
    background-color: rgba(255, 255, 255, 0.1);
    
  }

}