<section class="section projects contacts">
  <div class="jarallax-skills" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="./images/hero1.jpg" alt="" />
    <h2 class="projects-title" id="contacts">CONTACTS</h2>
  </div>

  <div class="container">
    <ul class="socials-list">
      <li class="socials-item"><a href="https://github.com/DanielOsadchenko" class="socials-link"><svg fill="#ffffff"
            class="socials-icon">
            <use href="./images/images.svg#icon-github"></use>
          </svg></a></li>
      <li class="socials-item"><a href="https://www.linkedin.com/in/danylo-osadchenko/" class="socials-link"><svg
            class="socials-icon">
            <use href="./images/images.svg#icon-linkedin"></use>
          </svg></a></li>
      <li class="socials-item"><a href="https://t.me/Riggle" class="socials-link"><svg class="socials-icon">
            <use href="./images/images.svg#icon-telegram"></use>
          </svg></a></li>
      <li class="socials-item"><a href="https://wa.me/+48792958508" class="socials-link"><svg class="socials-icon">
            <use href="./images/images.svg#icon-whatsapp"></use>
          </svg></a></li>
      <li class="socials-item"><a href="https://instagram.com/danylo.osadchenko?igshid=YmMyMTA2M2Y="
          class="socials-link"><svg class="socials-icon">
            <use href="./images/images.svg#icon-instagram"></use>
          </svg></a></li>
      <li class="socials-item"><a href="https://www.facebook.com/profile.php?id=100030737491470"
          class="socials-link"><svg class="socials-icon">
            <use href="./images/images.svg#icon-facebook"></use>
          </svg></a></li>
    </ul>

    <ul class="contact-list">
      <li class="contact-item"><a class="contact-link" href="tel:+48792958508"><svg class="contact-icon" fill="#49c5b6">
            <use href="./images/images.svg#icon-mobile"></use>
          </svg>+48 792 958 508</a></li>
      <li class="contact-item"><a class="contact-link" href="mailto:dm.osadchenko@gmail.com"><svg class="contact-icon"
            fill="#49c5b6">
            <use href="./images/images.svg#icon-mail"></use>
          </svg>dm.osadchenko@gmail.com</a></li>
      <li class="contact-item"><a class="contact-link" href="https://goo.gl/maps/AeU1GWL7hSJeCpHD6"><svg
            class="contact-icon" fill="#49c5b6">
            <use href="./images/images.svg#icon-tag"></use>
          </svg>Czarne, Poland (remote / relocate)</a></li>
    </ul>

    <h4 class="thanks">Thank you for your time!</h4>
    <a class="contact-button" href="#top">UP</a>
  </div>
</section>