<div class="jarallax-hero" id="top" data-jarallax data-speed="0.2">
  <img class="jarallax-img" src="./images/hero1.jpg" alt="">
  <header>
    <div class="container header-box">
      <h1 class="header-name">DANYLO OSADCHENKO</h1>
      <nav class="header-nav">
        <ul class="header-list marker">
          <li class="header-item"><a class="header-link" href="#projects">Projects</a></li>
          <li class="header-item"><a class="header-link" href="#skills">Skills</a></li>
          <li class="header-item"><a class="header-link" href="#contacts">Contacts</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section class="section hero">
    <div class="container">
      <h2 class="hero-title">HELLO</h2>
      <p class="hero-about">I'm looking for a job as a Junior Frontend Developer in an interesting company where I can
        upgrade my skills and learn a
        lot of new things. I have a high level of knowledge in HTML, CSS, Java Script, React and Node.js. I use Scrum
        methodology
        in team projects. I've tried myself in the role of a team leader. I also enjoy learning new information and
        putting it into practice. <br />

        I will be happy to do a test task for you. I will be glad to communicate with you. <br />

        You can find my projects, skills and contacts below on this page.

      </p>
      <a class="hero-button" href="#projects">Watch Projects</a>
    </div>
  </section>
</div>