<section class="section projects">

  <div class="jarallax-skills" data-jarallax data-speed="0.2">
    <img class="jarallax-img" src="./images/hero1.jpg" alt="">
    <h2 class="projects-title" id="projects">PROJECTS</h2>
  </div>

  <div class="background">
    <div class="container">
      <div class="project-card">
        <div class="jarallax">
          <img class="jarallax-img" src="./images/phonebook.jpg" alt="phonebook">
          <div class="image-link-box">
            <a class="image-link" href="https://danielosadchenko.github.io/goit-react-hw-08-phonebook/">View on site</a>
            <a class="image-link" href="https://github.com/DanielOsadchenko/goit-react-hw-08-phonebook">View on
              GitHub</a>
          </div>
        </div>
        <div class="box-project">
          <h3 class="name-project">Phonebook</h3>
          <p class="about-project">A site for saving a collection of contacts. You can add, search and delete contacts.
            A
            login and registration system has
            been implemented.</p>
          <p class="technologies-project">html, css, js, react, redux, rest api, notyflix, formik, yup, MaterialUI,
            Emotion.js</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="project-card">
      <div class="box-project">
        <h3 class="name-project">Detailing</h3>
        <p class="about-project">Multilingual landing site for the detailing studio. Adaptive layout. Sending an order
          form by mail.</p>
        <p class="technologies-project">react, emotionjs, i18next, emailjs</p>
      </div>
      <div class="jarallax">
        <img class="jarallax-img" src="./images/detailing.jpg" alt="detailing">
        <div class="image-link-box">
          <a class="image-link" href="https://detailing-by-semenov.netlify.app/">View on site</a>
          <a class="image-link" href="https://github.com/DanielOsadchenko/detailing">View on GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div class="background">
    <div class="container">
      <div class="project-card">
        <div class="jarallax">
          <img class="jarallax-img" src="./images/movie.jpg" alt="movie">
          <div class="image-link-box">
            <a class="image-link" href="https://life-paradox.github.io/filmoteka_project8/">View on site</a>
            <a class="image-link" href="https://github.com/life-paradox/filmoteka_project8">View on GitHub</a>
          </div>
        </div>
        <div class="box-project">
          <h3 class="name-project">Filmoteka</h3>
          <p class="about-project">Team film search and collection project. Implemented a change of the site's lighting
            theme. Role: working with REST API, as well as
            creating pagination in pure javascript.</p>
          <p class="technologies-project">html, css, js</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="project-card">
      <div class="box-project">
        <h3 class="name-project">Photo finder</h3>
        <p class="about-project">A site to search for a photo by a keyword. Implemented infinite scroll. The library for
          notifications is connected. Used by REST API for server requests</p>
        <p class="technologies-project">html, css, js, rest api, notyflix</p>
      </div>
      <div class="jarallax">
        <img class="jarallax-img" src="./images/photo.jpg" alt="photo">
        <div class="image-link-box">
          <a class="image-link" href="https://danielosadchenko.github.io/goit-js-hw-11/">View on site</a>
          <a class="image-link" href="https://github.com/DanielOsadchenko/goit-js-hw-11">View on GitHub</a>
        </div>
      </div>

    </div>
  </div>

  <div class="background">
    <div class="container">
      <div class="project-card">
        <div class="jarallax">
          <img class="jarallax-img" src="./images/icecream.jpg" alt="ice cream">
          <div class="image-link-box">
            <a class="image-link" href="https://danielosadchenko.github.io/ice-cream-project/">View on site</a>
            <a class="image-link" href="https://github.com/DanielOsadchenko/ice-cream-project">View on GitHub</a>
          </div>
        </div>
        <div class="box-project">
          <h3 class="name-project">Ice cream</h3>
          <p class="about-project">A team project to implement a landing site for an ice cream company. Role: TeamLead.
            Controlled and checked the team's
            code. Solved problems of the version control system. I made one of the blocks of the site.</p>
          <p class="technologies-project">html, sass, js</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="project-card">
      <div class="box-project">
        <h3 class="name-project">WebStudio</h3>
        <p class="about-project">My personal project for the implementation of a multi-page site for a web studio.</p>
        <p class="technologies-project">html, sass, js</p>
      </div>
      <div class="jarallax">
        <img class="jarallax-img" src="./images/webstudio.jpg" alt="web studio">
        <div class="image-link-box">
          <a class="image-link" href="https://danielosadchenko.github.io/goit-markup-hw-08/">View on site</a>
          <a class="image-link" href="https://github.com/DanielOsadchenko/goit-markup-hw-08">View on GitHub</a>
        </div>
      </div>

    </div>
  </div>

</section>